version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"

    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

    groups:
      production-dependencies:
        applies-to: version-updates
        patterns: ["dompurify", "react*"]
        update-types: ["minor", "patch"]
      dev-dependencies:
        applies-to: version-updates
        patterns:
          [
            "@eslint/*",
            "@types/*",
            "@vitejs/*",
            "eslint*",
            "globals",
            "prettier",
            "typescript*",
            "vite",
          ]
        update-types: ["minor", "patch"]
    cooldown:
      default-days: 7

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    cooldown:
      default-days: 7
